body {
 margin: 09px;
 background-color: #151515;
}

h2 {
	text-align: center;
}
table{
	border:1px solid #3b3b3b;
}
td {
	width: 12px;
	height: 12px;
	font-size: 1px;
//	border:1px solid #2b2b2b;
}
tr:last-child td {
	border-width:0px 0px 0px 0px;
}
tr td:last-child {
	border-width:0px 0px 0px 0px;
}
tr:last-child td:last-child {
	border-width:0px 0px 0px 1px;
}

.black {
	background-color: #0c0c0c;
	padding: 0px;
	margin: 0px;
}

.white {
	background-color: #222;
	padding: 0px;
	margin: 0px;
}
#wiki, #graphOptionsDiv, #numberOptionsDiv {
	border-style: dashed;
	border-width: 2px;
	border-color: #222;
}
#no_stepsDiv {
	border-style: dashed;
	border-width: 1px;
	border-color: #222;
	padding: 5px;
}
#wikiMore, #graphOptions, #numberOptions {
	margin: 20px;

//	display: none;
}
#wikiLogo {
	float: left;
	padding: 0px 20px 0px 0px;
}
#wikiText {
	float: left;
}

canvas {
    background-color: #1e1e1e;
}


textarea {
    width: 950px;
	height: 120px;
}

.toggleButton {
	cursor: pointer;
}

#buttonsDiv {
	margin: 20px 0px;
	width: 950px;
    text-align: center;
}
